*.a
*.o
*.so
src/game/fillets
*.Po
autom4te.cache/

lua-5.1.5/bin/
lua-5.1.5/include/
lua-5.1.5/man/

lua-5.1.5/src/*.a
lua-5.1.5/src/*.o
lua-5.1.5/src/lua
lua-5.1.5/src/luac

COPYING
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
src/Makefile
src/Makefile.in
src/SDL_gfx/Makefile
src/SDL_gfx/Makefile.in
src/effect/Makefile
src/effect/Makefile.in
src/game/Makefile
src/game/Makefile.in
src/gengine/Makefile
src/gengine/Makefile.in
src/level/Makefile
src/level/Makefile.in
src/menu/Makefile
src/menu/Makefile.in
src/option/Makefile
src/option/Makefile.in
src/plan/Makefile
src/plan/Makefile.in
src/state/Makefile
src/state/Makefile.in
src/widget/Makefile
src/widget/Makefile.in
